<div class="container-form">
  <div class="title" i18n="@@registerTitle">Register</div>
  <form action="#" method="post">
    <div class="user-detail">
      <div class="input-box col-12">
        <span class="details" i18n="@@fullNameLabel">Full Name</span>
        <input type="text" placeholder="Enter your Name">
      </div>

      <div class="input-box col-12">
        <span class="details" i18n="@@usernameLabel">Username</span>
        <input type="text" placeholder="Enter your Username">
      </div>

      <div class="input-box">
        <span class="details" i18n="@@emailLabel">Email</span>
        <input type="text" placeholder="Enter your email">
      </div>

      <div class="row">
        <div class="col-6">
          <div class="input-box">
            <span class="details" i18n="@@passwordLabel">Password</span>
            <input type="text" placeholder="Enter your password">
          </div>
        </div>
        <div class="col-6">
          <div class="input-box">
            <span class="details" i18n="@@confirmPasswordLabel">Confirm Password</span>
            <input type="text" placeholder="Renter your password">
          </div>
        </div>
      </div>
    </div>

    <!-- "Have an account? Login here" link -->
    <p class="login-link">
      <span i18n="@@haveAccount">Have an account?</span> <a href="/login" i18n="@@loginLink">Login here</a>
    </p>

    <!-- Register button with Google Material Icons Sharp icon -->
    <button class="register-button">
      <i>person_add</i> <p i18n="@@registerButton">Register</p>
    </button>
  </form>
</div>

