<div class="body">
  <div class="container-form">
    <div class="title" i18n="@@registerTitle">Register</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="user-detail">
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        <!-- Full Name Input -->
        <div class="input-box col-12">
          <span class="details" i18n="@@fullNameLabel">Full Name</span>
          <input type="text" placeholder="Enter your Name" formControlName="fullName" required/>
          <div class="error-message" *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
            Full Name is required.
          </div>
        </div>

        <!-- Username Input with Error Message -->
        <div class="input-box col-12">
          <span class="details" i18n="@@usernameLabel">Username</span>
          <input type="text" placeholder="Enter your Username" formControlName="username" required/>
          <div class="error-message" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            Username is required.
          </div>
        </div>

        <!-- Email Input with Error Message -->
        <div class="input-box">
          <span class="details" i18n="@@emailLabel">Email</span>
          <input type="email" placeholder="Enter your email" formControlName="email" required/>
          <div class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            Email is required and must be a valid email address.
          </div>
        </div>

        <!-- Password and Confirm Password Inputs -->
        <div class="row">
          <div class="col-6">
            <div class="input-box">
              <span class="details" i18n="@@passwordLabel">Password</span>
              <input type="password" placeholder="Enter your password" formControlName="password" required/>
            </div>
          </div>
          <div class="col-6">
            <div class="input-box">
              <span class="details" i18n="@@confirmPasswordLabel">Confirm Password</span>
              <input type="password" placeholder="Re-enter your password" formControlName="confirmPassword" required/>
            </div>
          </div>
        </div>
        <!-- Error Messages for Password Mismatch and Validation -->
        <div class="error-message" *ngIf="registerForm.hasError('passwordMismatch')">
          Passwords do not match.
        </div>
        <div class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Password must be at least 8 characters long and contain at least one special character.
        </div>
      </div>

      <!-- "Have an account? Login here" link -->
      <p class="login-link">
        <span i18n="@@haveAccount">Have an account?</span> <a [routerLink]="'/login'" i18n="@@loginLink">Login here</a>
      </p>

      <!-- Register Button -->
      <button type="submit" class="register-button" [disabled]="registerForm.invalid">
        <i class="material-icons-sharp">person_add</i> <p i18n="@@registerButton"> Register</p>
      </button>
    </form>
  </div>
</div>
