<h1 i18n="@@documentsListHeader">Lists of Documents</h1>
    <div class="t-list">
    <div class="table-list">
      <br>
      <hr>
      <br>
      <table>
        <thead>
        <tr>
          <th i18n="@@userId">User ID</th>
          <th i18n="@@fileName">File Name</th>
          <th i18n="@@fileType">File Type</th>
          <th i18n="@@uploadDate">Upload Date</th>
          <th i18n="@@documentUrl">Document URL</th>
          <th i18n="@@category">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="documentList.length === 0">
          <td colspan="6">
            <h3 i18n="@@noDocumentsFound">No documents found</h3>
          </td>
        </tr>
        <tr *ngFor="let documents of documentList"
          (click)="onRowClick(documents.id); toggleButton(documents.id);" [class.selected-row]="documents === selectedDocument">
          <td>{{ documents.userId }}</td>
          <td>{{ documents.fileName }}</td>
          <td>{{ documents.fileType }}</td>
          <td>{{ documents.uploadDate }}</td>
          <td>{{ documents.documentUrl }}</td>
          <td>{{ documents.category }}</td>
        </tr>
        </tbody>
      </table>
      <a href="#" *ngIf="documentList.length > 0" i18n="@@showAll">Show All</a>
    </div>
      <div class="table-detail">
        <table class="" *ngIf="showDetails">
          <tbody>
          <tr>
            <td>User Id:</td>
            <td>{{ selectedDocument.userId }}</td>
          </tr>
          <tr>
            <td>File Name:</td>
            <td>{{ selectedDocument.fileName }}</td>
          </tr>
          <tr>
            <td>File Type:</td>
            <td>{{ selectedDocument.fileType }}</td>
          </tr>
          <tr>
            <td>Upload Date:</td>
            <td>{{ selectedDocument.uploadDate }}</td>
          </tr>
          <tr>
            <td>Document URL:</td>
            <td>{{ selectedDocument.documentUrl }}</td>
          </tr>
          <tr>
            <td>Category:</td>
            <td>{{ selectedDocument.category }}</td>
          </tr>
          <tr>
            <td>Category:</td>
            <td>
              <a href="/document/edit/{{selectedDocument.id}}" class="success btn-action"><i class="material-icons-sharp">edit</i></a>
              <button [swal]="deleteSwal" (confirm)="deleteDocument(selectedDocument.id)" class="danger btn-action btn-delete">
                <i class="material-icons-sharp">delete</i>
              </button>
              <swal #deleteSwal title="Delete {{ selectedDocument.fileName }}?" [showCancelButton]="true" icon="question"></swal>
              <a href="/document/view/{{selectedDocument.id}}" class="warning btn-action"><i class="material-icons-sharp">visibility</i></a>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

