<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Document</li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>
<div class="row">
  <!-- Document List Table (Large Screens: col-9, Mobile: col-12) -->
  <div [ngClass]="!showDetails ? 'col-lg-12 col-12' : 'col-lg-9 col-12'" class="mb-2">
    <div class="card">
      <div class="card-body">
        <form class="form-inline float-right mb-2" [formGroup]="searchForm" (ngSubmit)="searchDocuments()">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" formControlName="searchKeyword">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" i18n>Search</button>
        </form>
        <table class="table">
          <thead>
          <tr>
            <th i18n="@@userId">User ID</th>
            <th i18n="@@fileName">File Name</th>
            <th i18n="@@fileType">File Type</th>
            <th i18n="@@uploadDate">Upload Date</th>
            <th i18n="@@documentUrl">Document URL</th>
            <th i18n="@@category">Category</th>
            <th *ngIf="!showDetails" i18n="@@actions">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="documentList.length === 0">
            <td colspan="7">
              <h3 i18n="@@noDocumentsFound" class="text-center">No documents found</h3>
            </td>
          </tr>
          <tr *ngFor="let documentOn of documentList"
              (click)="onRowClick(documentOn.id); toggleButton(documentOn.id);" [class.selected-row]="documentOn === selectedDocument">
            <td>{{ documentOn.userId }}</td>
            <td>{{ documentOn.fileName }}</td>
            <td>{{ documentOn.fileType }}</td>
            <td>{{ documentOn.uploadDate }}</td>
            <td>{{ documentOn.documentUrl }}</td>
            <td>{{ documentOn.category.name }}</td>
            <td *ngIf="!showDetails">
              <a href="/document/edit/{{documentOn.id}}" class="btn btn-outline-info rounded-circle mx-lg-1">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/document/view/{{documentOn.id}}" class="btn btn-outline-info rounded-circle mx-lg-1">
                <i class="fa fa-eye"></i>
              </a>
              <button [swal]="deleteSwal" (confirm)="deleteDocument(documentOn.id)" class="btn btn-outline-danger rounded-circle mx-lg-1">
                <i class="fa fa-trash"></i>
              </button>
              <swal #deleteSwal title="Delete {{ documentOn.fileName }}?" [showCancelButton]="true" icon="question"></swal>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example" class="float-right" *ngIf="documentList.length > 0">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" href="#">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of getPages()">
              <a class="page-link" (click)="changePage(page)" [class.active]="currentPage === page" href="#">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === getPages().length">
              <a class="page-link" (click)="changePage(currentPage + 1)" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Document Details Table (Large Screens: Hidden, Mobile: col-9) -->
  <div class="col-lg-3 col-12 mt-2" *ngIf="showDetails">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" i18n="@@documentDetails">Document Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@userId">User ID:</strong>
                  <span>{{ selectedDocument.userId }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@fileName">File Name:</strong>
                  <span>{{ selectedDocument.fileName }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@fileType">File Type:</strong>
                  <span>{{ selectedDocument.fileType }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@uploadDate">Upload Date:</strong>
                  <span>{{ selectedDocument.uploadDate }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@documentUrl">Document URL:</strong>
                  <span>{{ selectedDocument.documentUrl }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n="@@category">Category:</strong>
                  <span>{{ selectedDocument.category }}</span>
                </div>
              </li>
            </ul>
            <div class="card-footer d-flex justify-content-center">
              <a href="/document/edit/{{selectedDocument.id}}" class="btn btn-outline-info rounded-circle mx-1">
                <i class="fa fa-edit"></i>
              </a>
              <button [swal]="deleteSwal" (confirm)="deleteDocument(selectedDocument.id)" class="btn btn-outline-danger rounded-circle mx-1">
                <i class="fa fa-trash"></i>
              </button>
              <a href="/document/view/{{selectedDocument.id}}" class="btn btn-outline-info rounded-circle mx-1">
                <i class="fa fa-eye"></i>
              </a>
              <swal #deleteSwal title="Delete {{ selectedDocument.fileName }}?" [showCancelButton]="true" icon="question"></swal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
