<div class="container">
  <app-sidebar></app-sidebar>
  <main>
    <h1 i18n="@@documentsListHeader">Lists of Documents</h1>
    <div class="table-list">
      <br>
      <hr>
      <br>
      <table>
        <thead>
        <tr>
          <th i18n="@@userId">User ID</th>
          <th i18n="@@fileName">File Name</th>
          <th i18n="@@fileType">File Type</th>
          <th i18n="@@uploadDate">Upload Date</th>
          <th i18n="@@documentUrl">Document URL</th>
          <th i18n="@@category">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="documentList.length === 0">
          <td colspan="6">
            <h3 i18n="@@noDocumentsFound">No documents found</h3>
          </td>
        </tr>
        <tr *ngFor="let documents of documentList">
          <td>{{ documents.userId }}</td>
          <td>{{ documents.fileName }}</td>
          <td>{{ documents.fileType }}</td>
          <td>{{ documents.uploadDate }}</td>
          <td>{{ documents.documentUrl }}</td>
          <td>{{ documents.category }}</td>
        </tr>
        </tbody>
      </table>
      <a href="#" *ngIf="documentList.length > 0" i18n="@@showAll">Show All</a>
    </div>
  </main>
  <app-header></app-header>
</div>
