<aside>
  <div class="toggle">
    <div class="logo">
      <h2><span class="primary">TextGenius</span></h2>
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp">
          close
      </span>
    </div>
  </div>

  <div class="sidebar">
    <a
      *ngFor="let item of navigationItems"
      [routerLink]="item.route"
      [class.active]="activePage === item.route"
    >
      <span class="material-icons-sharp">{{ item.icon }}</span>
      <h3 i18n="@@{{ item.i18nKey }}">{{ item.label }}</h3>
    </a>
  </div>
</aside>
