<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Activities History</li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>

<div class="row">
  <!-- Activity List Table (Large Screens: col-9, Mobile: col-12) -->
  <div [ngClass]="showDetails ? 'col-lg-9 col-12' : 'col-lg-12 col-12'" class="mb-sm-2">
    <div class="card">
      <div class="card-body">
        <form class="form-inline float-right mb-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" i18n>Search</button>
        </form>
        <table class="table">
          <thead>
          <tr>
            <th i18n="@@activityId">Activity ID</th>
            <th i18n="@@tableName">Table Name</th>
            <th i18n="@@recordId">Record ID</th>
            <th i18n="@@action">Action</th>
            <th i18n="@@oldValue">Old Value</th>
            <th i18n="@@newValue">New Value</th>
            <th i18n="@@timestamp">Timestamp</th>
            <th i18n="@@user">User</th>
            <th *ngIf="!showDetails">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="activityList.length === 0">
            <td colspan="9">
              <h3 i18n="@@noActivityFound" class="text-center">No activity found</h3>
            </td>
          </tr>
          <tr *ngFor="let activity of activityList"
              (click)="onRowClick(activity.id);" [class.selected-row]="activity === selectedActivity">
            <td>{{ activity.id }}</td>
            <td>{{ activity.tableName }}</td>
            <td>{{ activity.recordId }}</td>
            <td>{{ activity.action }}</td>
            <td>{{ activity.oldValue }}</td>
            <td>{{ activity.newValue }}</td>
            <td>{{ activity.timestamp }}</td>
            <td>{{ activity.user.username }}</td>
            <td *ngIf="!showDetails">
              <a href="/activity/edit/{{activity.id}}" class="btn btn-outline-info rounded-circle mx-1">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/activity/view/{{activity.id}}" class="btn btn-outline-info rounded-circle mx-1">
                <i class="fa fa-eye"></i>
              </a>
              <button [swal]="deleteSwal" (confirm)="deleteActivity(activity.id)" class="btn btn-outline-danger rounded-circle mx-1">
                <i class="fa fa-trash"></i>
              </button>
              <swal #deleteSwal title="Delete {{ activity.tableName }} Activity?" [showCancelButton]="true" icon="question"></swal>
            </td>
          </tr>
          </tbody>
        </table>
        <a href="#" *ngIf="activityList.length > 0" i18n="@@showAll">Show All</a>
      </div>
    </div>
  </div>

  <!-- Activity Details Table (Large Screens: Hidden, Mobile: col-9) -->
  <div class="col-lg-3 col-sm-12 pt-sm-1" *ngIf="showDetails">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" i18n>Activity Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Activity ID:</strong>
                  <span>{{ selectedActivity.id }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Table Name:</strong>
                  <span>{{ selectedActivity.tableName }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Record ID:</strong>
                  <span>{{ selectedActivity.recordId }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Action:</strong>
                  <span>{{ selectedActivity.action }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Old Value:</strong>
                  <span>{{ selectedActivity.oldValue }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>New Value:</strong>
                  <span>{{ selectedActivity.newValue }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>Timestamp:</strong>
                  <span>{{ selectedActivity.timestamp }}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between">
                  <strong i18n>User:</strong>
                  <span>{{ selectedActivity.user.username }}</span>
                </div>
              </li>
            </ul>
            <div class="card-footer d-flex justify-content-center">
              <a href="/activity/edit/{{selectedActivity.id}}" class="btn btn-outline-info rounded-circle mx-2">
                <i class="fa fa-edit"></i>
              </a>
              <button [swal]="deleteSwal" (confirm)="deleteActivity(selectedActivity.id)" class="btn btn-outline-danger rounded-circle mx-2">
                <i class="fa fa-trash"></i>
              </button>
              <swal #deleteSwal title="Delete {{ selectedActivity.tableName }} Activity?" [showCancelButton]="true" icon="question"></swal>
              <a href="/activity/view/{{selectedActivity.id}}" class="btn btn-outline-info rounded-circle mx-2">
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
