<h1 i18n>Activities History</h1>
    <br>
    <hr>
    <br>
    <div class="t-list">
      <div class="table-list">
        <table>
          <thead>
          <tr>
            <th i18n="@@activityId">Activity ID</th>
            <th i18n="@@tableName">Table Name</th>
            <th i18n="@@recordId">Record ID</th>
            <th i18n="@@action">Action</th>
            <th i18n="@@oldValue">Old Value</th>
            <th i18n="@@newValue">New Value</th>
            <th i18n="@@timestamp">Timestamp</th>
            <th i18n="@@user">User</th>
<!--            <th i18n="@@actions">Actions</th>-->
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="activityList.length === 0">
            <td colspan="9">
              <h3 i18n="@@noActivityFound">No activity found</h3>
            </td>
          </tr>
          <tr *ngFor="let activity of activityList"
              (click)="onRowClick(activity.id);" [class.selected-row]="activity === selectedActivity">
            <td>{{ activity.id }}</td>
            <td>{{ activity.tableName }}</td>
            <td>{{ activity.recordId }}</td>
            <td>{{ activity.action }}</td>
            <td>{{ activity.oldValue }}</td>
            <td>{{ activity.newValue }}</td>
            <td>{{ activity.timestamp }}</td>
            <td>{{ activity.user.username }}</td>
<!--            <td>-->
<!--              <a href="/activity/edit/{{activity.id}}" class="success btn-action"><i class="material-icons-sharp">edit</i></a>-->
<!--              <button [swal]="deleteSwal" (confirm)="deleteActivity(activity.id)" class="danger btn-action btn-delete">-->
<!--                <i class="material-icons-sharp">delete</i>-->
<!--              </button>-->
<!--              <swal #deleteSwal title="Delete {{ activity.tableName }} Activity?" [showCancelButton]="true" icon="question"></swal>-->
<!--              <a href="/activity/view/{{activity.id}}" class="warning btn-action"><i class="material-icons-sharp">visibility</i></a>-->
<!--            </td>-->
          </tr>
          </tbody>
        </table>
        <a href="#" *ngIf="activityList.length > 0" i18n="@@showAll">Show All</a>
      </div>
      <div class="table-detail">
        <div class="table-detail">
          <table class="t-details" *ngIf="showDetails">
            <tbody>
            <tr>
              <td i18n>Activity ID:</td>
              <td>{{ selectedActivity.id }}</td>
            </tr>
            <tr>
              <td i18n>Table Name:</td>
              <td>{{ selectedActivity.tableName }}</td>
            </tr>
            <tr>
              <td i18n>Record ID:</td>
              <td>{{ selectedActivity.recordId }}</td>
            </tr>
            <tr>
              <td i18n>Action:</td>
              <td>{{ selectedActivity.action }}</td>
            </tr>
            <tr>
              <td i18n>Old Value:</td>
              <td>{{ selectedActivity.oldValue }}</td>
            </tr>
            <tr>
              <td i18n>New Value:</td>
              <td>{{ selectedActivity.newValue }}</td>
            </tr>
            <tr>
              <td i18n>Timestamp:</td>
              <td>{{ selectedActivity.timestamp }}</td>
            </tr>
            <tr>
              <td i18n>User:</td>
              <td>{{ selectedActivity.user.username }}</td>
            </tr>
            <tr>
              <td> action : </td>
              <td>
                <a href="/activity/edit/{{selectedActivity.id}}" class="success btn-action"><i class="material-icons-sharp">edit</i></a>
                <button [swal]="deleteSwal" (confirm)="deleteActivity(selectedActivity.id)" class="danger btn-action btn-delete">
                  <i class="material-icons-sharp">delete</i>
                </button>
                <swal #deleteSwal title="Delete {{ selectedActivity.tableName }} Activity?" [showCancelButton]="true" icon="question"></swal>
                <a href="/activity/view/{{selectedActivity.id}}" class="warning btn-action"><i class="material-icons-sharp">visibility</i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>

