<div class="card">
  <div class="card-header">
    Apartment Details
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="apartmentForm">
      <div class="form-group">
        <label for="unitNumber">Unit Number</label>
        <input type="text" class="form-control" id="unitNumber" placeholder="Enter unit number" formControlName="unitNumber">
        <div class="text-danger" *ngIf="apartmentForm.get('unitNumber')?.invalid && apartmentForm.get('unitNumber')?.touched">
          Unit Number is required.
        </div>
      </div>

      <div class="form-group">
        <label for="numberOfBedrooms">Number of Bedrooms</label>
        <input type="number" class="form-control" id="numberOfBedrooms" placeholder="Enter number of bedrooms" formControlName="numberOfBedrooms">
        <div class="text-danger" *ngIf="apartmentForm.get('numberOfBedrooms')?.invalid && apartmentForm.get('numberOfBedrooms')?.touched">
          Number of Bedrooms is required.
        </div>
      </div>

      <div class="form-group">
        <label for="numberOfBathrooms">Number of Bathrooms</label>
        <input type="number" class="form-control" id="numberOfBathrooms" placeholder="Enter number of bathrooms" formControlName="numberOfBathrooms">
        <div class="text-danger" *ngIf="apartmentForm.get('numberOfBathrooms')?.invalid && apartmentForm.get('numberOfBathrooms')?.touched">
          Number of Bathrooms is required.
        </div>
      </div>

      <div class="form-group">
        <label for="squareFootage">Square Footage</label>
        <input type="number" class="form-control" id="squareFootage" placeholder="Enter square footage" formControlName="squareFootage">
        <div class="text-danger" *ngIf="apartmentForm.get('squareFootage')?.invalid && apartmentForm.get('squareFootage')?.touched">
          Square Footage is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"></ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="description" [placeholder]="'Type here...'"></ngx-editor>
        </div>
      </div>

      <div class="form-group">
        <label for="property">Property</label>
        <input
          type="text"
          class="form-control"
          id="property"
          placeholder="Search for a property"
          formControlName="property"
          (input)="onPropertyInput()"
        >
        <div class="autocomplete-list" *ngIf="showAutocomplete">
          <div class="autocomplete-item" *ngFor="let property of filteredProperties" (click)="selectProperty(property)">
            {{ property.name }}
          </div>
        </div>
        <div class="text-danger" *ngIf="apartmentForm.get('property')?.invalid && apartmentForm.get('property')?.touched">
          Property is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="apartmentForm.invalid">Submit</button>
    </form>
  </div>
</div>
