<div class="container">
  <app-sidebar></app-sidebar>
  <main>
    <h1 i18n>Publish</h1>
    <div class="new-users">
      <h2>New Users</h2>
      <div class="user-list">
        <div class="user card-add">
          <a href="/">
            <img ngSrc="assets/plus.png" height="3000" width="3000">
            <p i18n>New Document</p>
          </a>
        </div>
        <div class="user card-add">
          <a href="/">
            <img ngSrc="assets/plus.png" height="3000" width="3000">
            <p i18n>New Logement</p>
          </a>
        </div>
        <div class="user card-add">
          <a href="/">
            <img ngSrc="assets/plus.png" height="3000" width="3000">
            <p i18n>New Apartment</p>
          </a>
        </div>
        <div class="user card-add">
          <a href="/">
            <img ngSrc="assets/plus.png" height="3000" width="3000">
            <p i18n>New User</p>
          </a>
        </div>
      </div>
    </div>

  </main>
  <app-header></app-header>
</div>

