<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Publish</li>
    <li class="breadcrumb-item active" aria-current="page" i18n>Publish</li>
  </ol>
</nav>


<div class="new-users">
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="user card-add bg-light p-3 text-center" (click)="toggleDocumentForm()">
            <i class="fa fa-file fa-3x d-block mb-2"></i>
            <p class="m-0" i18n>Upload a Document</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user card-add bg-light p-3 text-center" (click)="toggleLogementForm()">
            <i class="fa fa-money fa-3x d-block mb-2"></i>
            <p class="m-0" i18n>New receipt</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user card-add bg-light p-3 text-center" (click)="toggleApartmentForm()">
            <i class="fa fa-bar-chart fa-3x d-block mb-2"></i>
            <p class="m-0" i18n>New report</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- the forms with ngIf to conditionally display -->
<app-document-upload *ngIf="showDocumentForm"></app-document-upload>
<app-apartment-form *ngIf="showApartmentForm"></app-apartment-form>
<app-logement-form *ngIf="showLogementForm"></app-logement-form>
