<h1 i18n>Publish</h1>
    <div class="new-users">
      <br>
      <hr>
      <br>
      <div class="user-list">
        <div class="user card-add">
          <button (click)="toggleDocumentForm()">
            <img src="assets/plus.png" height="30" width="30">
            <p i18n>New Document</p>
          </button>
        </div>
        <div class="user card-add">
          <button (click)="toggleLogementForm()">
            <img src="assets/plus.png" height="30" width="30">
            <p i18n>New Logement</p>
          </button>
        </div>
        <div class="user card-add">
          <button (click)="toggleApartmentForm()">
            <img src="assets/plus.png" height="30" width="30">
            <p i18n>New Apartment</p>
          </button>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>

    <!-- the forms with ngIf to conditionally display -->

    <app-document-upload *ngIf="showDocumentForm"></app-document-upload>
    <app-apartment-form *ngIf="showApartmentForm"></app-apartment-form>
    <app-logement-form *ngIf="showLogementForm"></app-logement-form>

