<div class="card">
  <div class="card-header" i18n="@@loginTitle">Document Upload</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="documentForm" enctype="multipart/form-data">
      <div class="form-group">
        <!-- File Preview -->


        <!-- Hidden file input for selecting files -->
        <input type="file" class="form-control-file" (change)="onFileChange($event)" accept="image/*" formControlName="file" />

<!--        &lt;!&ndash; Add button to add more file inputs &ndash;&gt;
        <div class="form-group">
          <button type="button" class="btn btn-outline-light rounded-circle" (click)="addFileInput()">
            <span class="fa fa-plus"></span>
          </button>
        </div>

        &lt;!&ndash; Display multiple file inputs here &ndash;&gt;
        <div class="form-group">
          <div *ngFor="let fileInput of fileInputs.controls; let i = index" class="input-group justify-content-between">
            &lt;!&ndash; Hidden file input for selecting files &ndash;&gt;
            <input
              type="file"
              class="form-control-file"
              (change)="onFileChange($event, i)"
              style="margin-top: 10px;"
              [formControlName]="i"
              id="fileInput{{ i }}"
              required
            />

            &lt;!&ndash; Remove button floated to the right &ndash;&gt;
            <div class="input-group-append float-right">
              <button class="btn btn-outline-danger rounded-circle ml-auto" type="button" (click)="removeFileInput(i)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
        </div>-->

      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter document name">
        <div class="text-danger" *ngIf="documentForm.get('name')?.invalid && documentForm.get('name')?.touched">
          Name is required.
        </div>
      </div>
      <!-- Autocomplete Input -->
      <div class="form-group">
        <label for="data" i18n="@@dataLabel">Type</label>
        <input
          type="text"
          class="form-control"
          id="data"
          placeholder="Search for Type"
          formControlName="data"
          (input)="onDataInput()"
          (focus)="onInputFocus()"
        />
        <div class="autocomplete-list" *ngIf="showAutocomplete">
          <div class="autocomplete-item" *ngFor="let property of filteredData" (click)="selectData(property)">
            {{ property.name }}
          </div>
        </div>
        <div class="text-danger" *ngIf="documentForm.get('data')?.invalid && documentForm.get('data')?.touched">
          Data is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid" i18n>
        <span class="fas fa-cloud-upload-alt"></span> Upload
      </button>
    </form>
  </div>
</div>
