<div class="card">
  <div class="card-header" i18n="@@loginTitle">Document Upload</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="documentForm" enctype="multipart/form-data">
      <div class="form-group">
        <!-- File Preview -->
        <div class="image-preview">
          <img [src]="filePreview" alt="Preview" class="img-thumbnail" *ngIf="filePreview" />
        </div>

        <!-- Hidden file input for selecting files -->
        <input type="file" class="form-control-file" (change)="onFileChange($event)" accept="image/*" />

        <!-- Add button to add more file inputs -->
        <div class="form-group">
          <button type="button" class="btn btn-outline-light rounded-circle" (click)="addFileInput()">
            <span class="fa fa-plus"></span>
          </button>
        </div>

        <!-- Display multiple file inputs here -->
        <div class="form-group">
          <div *ngFor="let fileInput of fileInputs.controls; let i = index" class="input-group justify-content-between">
            <!-- Hidden file input for selecting files -->
            <input
              type="file"
              class="form-control-file"
              (change)="onFileChange($event, i)"
              style="margin-top: 10px;"
              [formControlName]="i"
              id="fileInput{{ i }}"
              required
            />

            <!-- Remove button floated to the right -->
            <div class="input-group-append float-right">
              <button class="btn btn-outline-danger rounded-circle ml-auto" type="button" (click)="removeFileInput(i)">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
        </div>

      </div>

      <!-- Autocomplete Input -->
      <div class="form-group">
        <label for="data" i18n="@@dataLabel">Data</label>
        <input
          type="text"
          class="form-control"
          id="data"
          placeholder="Search for data"
          formControlName="data"
          (input)="onDataInput()"
        />
        <div class="autocomplete-list" *ngIf="showAutocomplete">
          <div class="autocomplete-item" *ngFor="let property of filteredData" (click)="selectData(property)">
            {{ property.name }}
          </div>
        </div>
        <div class="text-danger" *ngIf="documentForm.get('data')?.invalid && documentForm.get('data')?.touched">
          Data is required.
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid" i18n="@@loginButton">
        <span class="fas fa-cloud-upload-alt"></span> Upload
      </button>
    </form>
  </div>
</div>
